* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  nav {
   
    background-color:#f4f3f3;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 11px;
    margin-top: 5px;
  }
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }
  .nav-left img {
    width: 50px;
    margin-left: 1.5rem;
  }
  /* .link {
    margin-left: 1rem;
  } */
  .link a {
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .link a:active {
    color: red;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    font-weight: bold;
  }
  
  .nav-right a {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    background-color: black;
    padding: 8px 15px;
    border-radius: 15px;
  }
  .nav-right a:hover {
    -webkit-transform: margin-top(1.08);
    transform:matrix3d(1.09);
    font-weight: bold;
    color: white;
  }
/* Blog Form */
form {
    width: 100%; 
    padding: 1rem;
    background-color:#e3e7eb;
    height: 80vh;
  }
  .judul-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .pembungkus-project {
    width: 30%;
    margin: auto;
    box-sizing: content-box;
    /* border: 1px solid black; */
  }
  .date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 10px 0;
  }
  .start-date {
    flex: 50%;
    /* border: 1px solid black; */
  }
  .end-date {
    flex: 50%;
    /* border: 1px solid black; */
  }
  .date input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  .input-1 input,
  textarea {
    width: 100%;
    padding: 5px;
    box-sizing: content-box;
    border: none;
    border-radius: 5px;
  }
  .input-1 div,
  textarea {
    margin: 10px 0;
  }
  .pembungkus-tekno {
    margin-top: 10px;
  }
  .golang {
    margin-left: 10px;
  }
  .java {
    margin-left: 14px;
  }
  .pembungkus-tekno label,
  input {
    margin-top: 5px;
  }
  .pembungkus-tekno input {
    background-color: rgba(255, 255, 255, 0.616);
  }
  .upload {
    margin-top: 10px;
  }
  .input-image-group {
    width: 100%;
    max-height: ;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Kolom attach file*/
  .input-image-group label h6 {
    font-weight: 20px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
  }
  .input-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .klik button {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    float: right;
  }
  .klik button:hover {
    background-color: tomato;
  }

  /*sblm ke my project*/
  .hr- {
    display: flex;
    justify-content: center;
    color: #f4f3f3;
    background-color: #082838;
    
}
  .hr- h2 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  /*bagian didalam projec*/
  .kelas1 {
    /* width: 100%; */
    background-color:#f4f3f3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    /* border: 1px solid black; */
  }
  .kelas2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: auto;
    border-radius: 5px;
    border: #082838;
    border-radius: 7px;
    padding: 10px;
    background-color:#f4f3f3;
  }
  .elemen a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 20px;
  }
  .lorem {
    display: flex;
    text-align: justify;
    font-size: 15px;
  }
  /*Poto dari post my project*/
  .kelas3 img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .kelas4 p {
    width: 100%;
    font-size: 10px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .icon {
    margin-bottom: 5px;
  }
  .icon i {
    width: 30px;
    height: auto;
  }
  .kelas5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .delete {
    flex: 50%;
  }
  .delete button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: black;
    color: white;
    padding: 3px 35%;
  }
  .edit {
    flex: 50%;
  }
  .edit button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: black;
    color: white;
    padding: 3px 42%;
  }


  
/* responsiv mobile */
@media only screen and (max-width: 500px) {
  .judul-form {
    margin-bottom: 2rem;
  }
  .pembungkus-project {
    width: 60%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .klik button {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    float: right;
  }
  .klik button:hover {
    background-color: brown;
  }
  .kelas1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    /* border: 1px solid black; */
  }
  .kelas2 {
    width: 90%;
    display: flex;
    height: 21%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color:#082838;
    color: #f4f3f3;
  }
  .kelas4 p {
    width: 100%;
    font-size: 10px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .elemen a {
    text-decoration: none;
    color:#e3e7eb;
    font-weight: bold;
    font-size: 20px;
  }
  .lorem {
    display: flex;
    text-align: justify;
    font-size: 15px;
  }
}
@media only screen and (max-width: 412px) {
  .judul-form {
    margin-bottom: 2rem;
  }
  .pembungkus-project {
    width: 60%;
    margin: 0 auto;
    /* padding: 0 1rem; */
  }
  .klik button {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    float: right;
  }
  .klik button:hover {
    background-color: brown;
  }
  .kelas1 {
    display: flex;
    color: #e3e7eb;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    /* border: 1px solid black; */
  }
  .kelas2 {
    width: 90%;
    display: flex;
    height: 21%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color:#082838;
    color: #e3e7eb;
  }
  .kelas4 p {
    width: 100%;
    font-size: 10px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .elemen a {
    text-decoration: none;
    color:#e3e7eb;
    font-weight: bold;
    font-size: 20px;
  }
  .lorem {
    display: flex;
    text-align: justify;
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  form {
    /* width: 100%; */
    padding: 1rem;
    margin: 0 auto;
    background-color:#082838;
    box-shadow: white ;
    height: 99vh;
  }
  .judul-form {
    margin-bottom: 1rem;
  }
  .pembungkus-project {
    width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .date {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 10px 0;
  }
  .start-date {
    flex: 25%;
    /* border: 1px solid black; */
  }
  .end-date {
    flex: 25%;
    /* border: 1px solid black; */
  }
  .klik button {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    float: right;
  }
  .klik button:hover {
    background-color: brown;
  }
  .kelas1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    /* border: 1px solid black; */
  }
  .kelas2 {
    width: 70%;
    display: flex;
    height: 21%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color: #082838;
  }
  .kelas4 p {
    width: 100%;
    font-size: 10px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 7px;
    box-shadow:1px solid #c4c4c4;
    border-radius: 7px;
  }
  .elemen a {
    text-decoration: none;
    color:#e3e7eb;
    font-weight: bold;
    font-size: 20px;
  }
  .lorem {
    display: flex;
    text-align: justify;
    font-size: 15px;
  }
}